.navbar-brand {
    font-size: 1.5em;
}

.navbar-nav:nth-child(1) {
    padding-top: 5px;
}

.navbar-nav:last-child {
    padding-bottom: 5px;
}

.navbar-nav > li > a {
    font-size: 1.5em;
    padding: 0px;
}

.navbar-nav > hr {
    margin: 10px;
}

.main-content {
    background-color: aliceblue;
    padding: 5px 15px;
    margin-bottom: 25px;
}

.row {
    padding-left: auto;
    padding-right: auto;
}